

<div class="chat">
  <div class="chat-title">
    <h1>{{username}}</h1>
    <h2>online</h2>
    <figure class="avatar">
      <img src="{{userAvater}}" /></figure>
  </div>
  <div class="messages">
    <div class="messages-content" >
      <ng-container *ngFor="let Message of Messages">
        <div *ngIf="Message.Personal; else ReciveMessage" class="message new message-personal" appMsgreplay="Message.ID">{{Message?.Msg}}</div>
        <ng-template  #ReciveMessage>
          <div class="message new">
            <figure class="avatar">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg">
            </figure>
            {{Message?.Msg}}
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>
  <div class="message-box">
    <input type="text" class="message-input" [(ngModel)]="inputMessage" (keyup.enter)="insertMessage()" placeholder="Type message...">
    <button type="submit" class="message-submit" (click)="insertMessage()">Send</button>
  </div>

</div>


